<!DOCTYPE html>
<html lang="en">

<head>
  <title>WariQué?</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../../bootstrap-4.1.2-dist/css/bootstrap.min.css" />
  <!-- include bootstrap social -->
  <link rel="stylesheet" href="../../bootstrap-4.1.2-dist/css/bootstrap-social.css">
  <!-- iconos -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- firestore -->
  <!-- <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script> -->
  <link rel="stylesheet" href="../css/mainpage.css">

  <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>

</head>

<body>
  <nav class="navbar ">
    <img src="../../img/css/wariqué.png" class="img-fluid" alt="Responsive image" id="img-warique">
    <p >WariQué?</p>
    <form class="form-inline">
      <button type="button" id="btnLogout" class="btn btn-warning" value="Logout">Salir</button>
    </form>
  </nav>


  <!-- usuario -->
  <div>
    <img src="/img/user-icon-72x72(1).png" type="image/png" sizes="50x50" href="/apple-icon-72x72.pn">
    <p id="user-name"></p>
  </div>

  <!-- ingreso de post -->
  <div id="new-post" class="hiden">
    <select name="privacy-option" id="privacy-option" class="form-control col-md-2">
      <option value="privacidad">Privacidad</option>
      <option value="private">Privado</option>
      <option value="public">Público</option>
    </select>
    <textarea class="form-control control-label col-sm-4" id="post" rows="3"></textarea>
    <button type="button" id="bttn-new-post" class="btn btn-danger">Publicar</button>

  </div>


  <!-- el contenido que se va creando -->
  <div class="container">
    <h2>Post</h2>
    <div id="post-container" class="hiden">
      <div class="btn-toolbar" role="toolbar">
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-star"></span> Star
        </button>
      </div>
    </div>
  </div>

  <!-- el contenido que se va creando kelly -->
  <!-- <div id="posts" class="hiden">
    <h3>post</h3>
  </div> -->

  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCKsofg1gctDdhhcJqU7SCQ2FCRS_h58uw",
      authDomain: "warique-firebase.firebaseapp.com",
      databaseURL: "https://warique-firebase.firebaseio.com",
      projectId: "warique-firebase",
      storageBucket: "warique-firebase.appspot.com",
      messagingSenderId: "476451982223"
    };
    firebase.initializeApp(config);
  </script>

  <!-- <script src="../js/mainpage.js"></script> -->

  <script src="../js/data.js"></script>
  <!-- <script src="../js/methods.js"></script> -->
  <script src="../js/dom-muro.js"></script>
</body>

</html>