
#img-warique{
    border-radius:100px 100px;
    /* outline: 1px solid black ; */
    max-width: 5%;    
}

nav p{
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bold;
    color: white;
}
 nav{
     background: rgb(194, 46, 46);
 }