* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}

.header {
  background-color: #E02222
}
#img-warique{
  border-radius:100px 100px;
  /* outline: 1px solid black ; */
  width: 15%;    
}

.text-center{
  font-size: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  font-weight: bold;
  color: #ffffff;
}


/* contenido en html  */

/* h2{
  background: red;
}
#comment{
  width: 50%;
  margin-left: 5%
} */
/* .container-input {
  margin-bottom: 6rem;
  }
     */

/* contenido total  */
/* .container-background {
  border: 1px solid #3c4643;
  margin: 5em;
  border-radius: 0.3em;
} */
/* 
.container-food {
  display: flex;
  align-items: center;
} */
/* 
.user-background {
  width: 5rem;
}

.user-icon {
    width: 2rem;
  }
   */
/* .text {
    color: #000;
    text-align: justify;
  }
  
.name {
    font-family: 'Press Start 2P', cursive;
  }
  
.hour {
    font-size: 1rem;
    margin: 0; 
}*/

/* para los iconos  */
/* .like {
  width: 2rem;
  cursor: pointer;
}

.delete {
  display: none;
}

.edit {
  cursor: pointer;
  color: rgba(176, 176, 233, 0.733);
} */


.container footer{
  background-color: #E3EFD5;
  }

.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:35px;
  width:100%;
  background-color:#E3EFD5;
}